<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Actor Records</title>  
     {% load staticfiles %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Actor DOB</th>  
        <th>Actor Name</th>  
        <th>Actor Sex</th>  
        <th>Actor Bio</th>  
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for actor in actors %}  
    <tr>  
        <td>{{ actor.edob }}</td>  
        <td>{{ actor.ename }}</td>  
        <td>{{ actor.esex }}</td>  
        <td>{{ actor.ebio }}</td>  
        <td>  
            <a href="/edit/{{ actor.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/delete/{{ actor.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/emp" class="btn btn-primary">Add New Record</a></center>  
</body>  
</html>  
